@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
  width: 100%;
  overflow-x: hidden;
  background: $background;

  section {
    width: 100%;
  }

  .hero {
    margin-bottom: 0;
  }

  .search-section {
    margin-bottom: 90px;
  }

  .services {
    margin-bottom: 20px;
  }

  .features {
    margin-bottom: 20px;
  }

  .ecosystem {
    margin-bottom: 0;
  }
}

/*==============================
Desktop
==============================*/

@include desktop {

  .home {

    .search-section {
      margin-bottom: 80px;
    }

    .services,
    .features {
      margin-bottom: 15px;
    }

  }

}

/*==============================
Tablet
==============================*/

@include tablet {

  .home {

    .search-section {
      margin-top: 40px;
      margin-bottom: 70px;
    }

    .services,
    .features,
    .ecosystem {
      padding-top: 70px;
      padding-bottom: 70px;
    }

  }

}

/*==============================
Mobile
==============================*/

@include mobile {

  .home {

    .search-section {
      margin-top: 35px;
      margin-bottom: 60px;
    }

    .services,
    .features,
    .ecosystem {
      padding-top: 60px;
      padding-bottom: 60px;
    }

  }

}