@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.main-layout {
  width: 100%;
  min-height: 100vh;
  background: $background;
  overflow-x: hidden;

  &__content {
    width: 100%;
  }
}

/*==============================
Desktop
==============================*/

@include desktop {

  .main-layout {

    &__content {
      width: 100%;
    }

  }

}

/*==============================
Tablet
==============================*/

@include tablet {

  .main-layout {

    &__content {
      width: 100%;
    }

  }

}

/*==============================
Mobile
==============================*/

@include mobile {

  .main-layout {

    &__content {
      width: 100%;
    }

  }

}